.homepage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  width: 80vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.4);
}